body {
  background: linear-gradient(to top, #f77062 0%, #fe5196 100%);;
  font-family:Arial, Helvetica, sans-serif;
}

.assignments {
  display: flex;
  flex-wrap: wrap;
}

.assignment {
  width: 22%;
  background: lightcyan;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

.assignment img {
width: 200px;
margin: 10px;
padding: 10px;
border: 4px solid #6c9797;
display:block;
margin: auto;
}


.assignment img:hover {
  border: 4px dashed #000000;
}

h1 {
  color: #418EF2;
  text-align: center;
}

h1:hover {
  color: #fff;
}

h2 {
  text-align: center;
}

a {
  text-decoration: none;
  color: #418EF2;
  text-align: center;
}

a:hover {
  color: #000000;
}

